body, html{
  height:100%;
}
body{
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: url('stars.jpg');
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: white;
}
.title, .addDancerButton {
  padding:5px 12px;
  float:right;
}

.lineUpBtn {
  padding:5px 12px;
}
/* .topbar{
  height:32px;
  background-color: #555;
} */
.title{
  background-color: #777;
}
.dancer{
  border:20px solid green;
  border-radius:10px;
  position:absolute;
}

.moonWalkDancer{
  border:30px solid greenyellow;
  border-radius:30px;
  position:absolute;
}

.snakeDancer{
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid white;
}