body, html{
  height:100%;
}
body{
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: url('stars.jpg');
  font-size: 20px;

}
body, a:link, a:visited, a:active{
  color: white;
}
.title, .addDancerButton {
  padding:5px 12px;
  float:right;
}

.lineUpBtn {
  position: absolute;
  top: 1%;
  left: 1%;
}

.lineBreakBtn {
  position: absolute;
  top: 1%;
  left: 5%;
}
/* .topbar{
  height:32px;
  background-color: #555;
} */
.title{
  background-color: #777;
}
.dancer{
  /* border:20px solid green; */
  border-radius:10px;
  position:absolute;
  font-size: 25px;
  color: yellow;
}

.blinkyDancer{

  border:20px solid green;
  border-radius:10px;
  position:absolute;
}

.moonWalkDancer{
  border:20px solid greenyellow;
  border-radius:20px;
  position:absolute;
}

.snakeDancer{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid cyan;
<<<<<<< HEAD
}
=======
}

.music{
  display: flex;
  position: relative;
  margin: 0, auto;
  left: 15%;
  width: 20%;
}

audio {
  width: 50%;
  height: 30px;


}
>>>>>>> 05eff23de351792cabf7b330e55888e10ce2b756
